@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
/**

	VARIABLE:
	- Color Palletes
	- Typography

 */
/**
=========================
	- Color Palletes
=========================
*/
/**
=========================
	- Typography
=========================
*/
/**
=========================
	- Size
=========================
*/
body {
  font-family: "Poppins", sans-serif;
  background-color: #F9FAFC;
  scroll-behavior: smooth;
}

.dim-active {
  position: fixed;
  z-index: 98;
  background: rgba(33, 33, 33, 0.48);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.sidebar-res {
  display: none;
  position: fixed;
  left: 0;
  top: 88px;
  z-index: 98;
  width: 14rem;
  background-color: #fff;
  padding: 16px;
  height: 100vh;
  margin-left: -14rem;
}

.sidebar-res.open {
  margin-left: 0;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.sidebar-res ul {
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  list-style: none;
}

.sidebar-res ul .nav-item.active .nav-link {
  color: #1B64AD;
  font-weight: 600;
}

.sidebar-res ul .nav-link {
  text-decoration: none;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  color: #747474;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 16px;
}

@media (max-width: 767px) {
  .sidebar-res {
    display: block;
  }
}

#header-cbt {
  background: #F9FAFC;
  -webkit-box-shadow: 0px 8px 16px rgba(8, 20, 87, 0.04);
          box-shadow: 0px 8px 16px rgba(8, 20, 87, 0.04);
  padding: 20px 0;
  position: relative;
  z-index: 99;
}

#header-cbt .navbar {
  padding: 0;
}

#header-cbt .header-row {
  width: 100%;
}

#header-cbt .header-row .burger-res {
  width: 48px;
  height: 48px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid transparent;
  margin-right: 12px;
  display: none;
}

@media (max-width: 767px) {
  #header-cbt .header-row .burger-res {
    display: block;
  }
}

#header-cbt .header-row .burger-res img {
  width: 24px;
  height: 24px;
}

#header-cbt .header-row .burger-res:hover {
  border: 1px solid #ECEFF1;
}

#header-cbt .header-row .burger-res:focus {
  border: 1px solid #ECEFF1;
  -webkit-box-shadow: 0px 0px 4px rgba(33, 33, 33, 0.16);
          box-shadow: 0px 0px 4px rgba(33, 33, 33, 0.16);
}

#header-cbt .header-row .left img {
  height: 32px;
}

#header-cbt .header-row .right .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 0;
}

#header-cbt .header-row .right .navbar-nav .dropdown-menu {
  position: absolute;
  right: 0;
  top: 60px;
  min-width: 260px;
  padding: 20px 32px;
  background: #FFFFFF;
  border: 1px solid #ECEFF1;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  z-index: 100;
}

#header-cbt .header-row .right .navbar-nav .dropdown-menu h4 {
  color: #001B36;
  text-transform: capitalize;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 16px;
}

#header-cbt .header-row .right .navbar-nav .dropdown-menu .select-language .list-language {
  padding: 12px 0;
  border-bottom: 1px solid #E0E0E0;
  cursor: pointer;
}

#header-cbt .header-row .right .navbar-nav .dropdown-menu .select-language .list-language:last-of-type {
  border-bottom: 0;
}

#header-cbt .header-row .right .navbar-nav .dropdown-menu .select-language .list-language.active .language h3 {
  color: #1B64AD;
  font-weight: 500;
}

#header-cbt .header-row .right .navbar-nav .dropdown-menu .select-language .list-language.active .language p {
  color: #747474;
}

#header-cbt .header-row .right .navbar-nav .dropdown-menu .select-language .list-language .flag img {
  width: 28px;
  height: 28px;
  margin-right: 24px;
  border-radius: 50%;
}

#header-cbt .header-row .right .navbar-nav .dropdown-menu .select-language .list-language .language h3 {
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  text-transform: capitalize;
  color: #001B36;
  margin-bottom: 4px;
}

#header-cbt .header-row .right .navbar-nav .dropdown-menu .select-language .list-language .language img {
  width: 8px;
  height: 8px;
  margin-left: 8px;
  margin-top: 5px;
}

#header-cbt .header-row .right .navbar-nav .dropdown-menu .select-language .list-language .language p {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  text-transform: capitalize;
  color: #4D5F72;
  margin: 0;
}

#header-cbt .header-row .right .navbar-nav .nav-item .nav-language {
  padding: 8px 16px !important;
  border-radius: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 13px;
}

#header-cbt .header-row .right .navbar-nav .nav-item .nav-language img {
  margin-left: 6px;
}

#header-cbt .header-row .right .navbar-nav .nav-item .nav-language:hover {
  border: 1px solid #ECEFF1;
}

#header-cbt .header-row .right .navbar-nav .nav-item .nav-language:focus {
  -webkit-box-shadow: 0px 0px 4px rgba(33, 33, 33, 0.16);
          box-shadow: 0px 0px 4px rgba(33, 33, 33, 0.16);
  border: 1px solid #ECEFF1;
}

#header-cbt .header-row .right .navbar-nav .nav-item .nav-link {
  padding: 0;
  margin-left: 30px;
  text-decoration: none;
  -webkit-transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  color: #747474;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  border: 1px solid transparent;
  padding: 9px 12px;
}

#header-cbt .header-row .right .navbar-nav .nav-item .nav-link:hover {
  color: #1B64AD;
  -webkit-transition: 100ms;
  transition: 100ms;
}

#header-cbt .header-row .right .navbar-nav .nav-item.active .nav-link {
  color: #1B64AD;
  font-weight: 600;
}

#login-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#login-section .left {
  width: 50%;
}

@media (max-width: 768px) {
  #login-section .left {
    display: none;
  }
}

#login-section .left .intro-cbt {
  margin-bottom: 20px;
  margin-top: 90px;
}

#login-section .left .intro-cbt h2 {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  text-transform: capitalize;
  color: #1B64AD;
  margin-bottom: 20px;
}

#login-section .left .intro-cbt p {
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  text-align: center;
  color: #404756;
  margin: 0;
}

#login-section .left .illustrasi-login img {
  width: 100%;
  height: auto;
}

#login-section .right {
  width: 50%;
  position: relative;
  height: auto;
  padding: 90px 0;
  background-color: rgba(236, 239, 241, 0.24);
}

@media (max-width: 768px) {
  #login-section .right {
    width: 100%;
    padding: 60px 16px;
  }
}

#login-section .right .card-login-cbt {
  position: relative;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 8px 16px rgba(67, 97, 154, 0.09);
          box-shadow: 0px 8px 16px rgba(67, 97, 154, 0.09);
  border-radius: 12px;
  padding: 32px;
  text-align: center;
  width: 360px;
  margin-left: auto;
  margin-right: auto;
}

#login-section .right .card-login-cbt .titik-kotak {
  position: absolute;
  right: -25px;
  top: -20px;
  z-index: -1;
}

#login-section .right .card-login-cbt .titik-kotak img {
  width: 80px;
  height: auto;
}

@media (max-width: 460px) {
  #login-section .right .card-login-cbt {
    width: 100%;
  }
}

#login-section .right .card-login-cbt .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-transform: capitalize;
  color: #424242;
  margin-bottom: 60px;
}

#login-section .right .card-login-cbt .btn-login-with {
  width: 100%;
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  color: #455A64;
  background: #FFFFFF;
  border: 0.5px solid #CCD6DC;
  height: 56px;
  -webkit-box-shadow: 0px 8px 16px rgba(67, 97, 154, 0.08);
          box-shadow: 0px 8px 16px rgba(67, 97, 154, 0.08);
  border-radius: 8px;
  margin-bottom: 24px;
}

#login-section .right .card-login-cbt .btn-login-with:hover {
  background: #f5f5f5;
  -webkit-transition: 200ms;
  transition: 200ms;
}

#login-section .right .card-login-cbt .btn-login-with img {
  width: 26px;
  height: 26px;
  margin-right: 16px;
}

.warning-text {
  text-align: left;
  background: #FDF0E6;
  border: 1px solid #FAD3B3;
  padding: 20px 16px;
  border-radius: 8px;
}

.warning-text .title-warning {
  margin-bottom: 8px;
}

.warning-text .title-warning img {
  width: 16px;
  height: 16px;
  margin-right: 16px;
}

.warning-text .title-warning h3 {
  font-weight: 600;
  font-size: 13px;
  line-height: 24px;
  text-transform: capitalize;
  color: #D76100;
  margin-bottom: 0;
}

.warning-text p {
  font-weight: normal;
  font-size: 12px;
  line-height: 24px;
  color: #EF6C00;
  margin-bottom: 0;
}

.copyright {
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  margin-top: 28px;
  letter-spacing: 0.5px;
  color: #747474;
  text-align: center;
}

#footer-login {
  padding: 22px;
  background-color: #C4E1FD;
  text-align: center;
}

#footer-login h3 {
  font-weight: 500;
  font-size: 13px;
  line-height: 19px;
  letter-spacing: 0.5px;
  color: #3A4856;
  margin-bottom: 0;
}

#beranda-cbt {
  margin: 48px 0;
}

#beranda-cbt .banner-beranda {
  width: 100%;
  background: url("../img/bg-banner.jpg");
  background-repeat: no-repeat;
  border-radius: 8px;
  background-size: cover;
  margin-bottom: 40px;
}

#beranda-cbt .banner-beranda .banner-info {
  padding: 50px 32px;
}

#beranda-cbt .banner-beranda .banner-info h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  text-transform: capitalize;
  color: #F9FAFC;
  margin-bottom: 16px;
}

#beranda-cbt .banner-beranda .banner-info p {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #F9FAFC;
  opacity: 0.64;
  margin: 0;
}

#beranda-cbt .banner-beranda .illustration-banner {
  margin-top: -24px;
  height: auto;
}

@media (max-width: 990px) {
  #beranda-cbt .banner-beranda .illustration-banner {
    margin-top: 12px;
    padding: 32px;
  }
}

#beranda-cbt .banner-beranda .illustration-banner img {
  width: 100%;
}

.cta-uji-coba {
  width: 100%;
  margin-bottom: 24px;
}

.btn-secondary {
  width: 100%;
  height: 56px;
  border: none;
  padding: 12px;
  background: #FF6853;
  -webkit-box-shadow: 0px 8px 16px rgba(67, 97, 154, 0.08);
          box-shadow: 0px 8px 16px rgba(67, 97, 154, 0.08);
  border-radius: 8px;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  text-transform: capitalize;
  color: #FFFFFF;
}

.btn-secondary:hover {
  background: #f15c48;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.btn-secondary img {
  width: 12px;
  height: 12px;
  margin-right: 16px;
}

.sidebar-jadwal {
  background-color: rgba(236, 239, 241, 0.24);
  border-radius: 8px;
}

.sidebar-jadwal .title {
  padding: 20px 32px;
  border-radius: 8px;
  background: #C4E1FD;
}

.sidebar-jadwal .title h3 {
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  text-transform: capitalize;
  color: #1B64AD;
  margin-bottom: 0;
}

.sidebar-jadwal .title img {
  width: 22px;
  height: 22px;
}

.sidebar-jadwal .content {
  padding: 32px;
  margin-bottom: 24px;
}

.sidebar-jadwal .content .dots-purple {
  background-color: #fff;
  border: 3px solid #B275E2;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  margin-top: 4px;
}

.sidebar-jadwal .content .dots-orange {
  background-color: #fff;
  border: 3px solid #FF8181;
  border-radius: 50%;
  width: 14px;
  height: 14px;
  margin-top: 4px;
}

.sidebar-jadwal .content .list-jadwal {
  padding-bottom: 16px;
  margin-bottom: 16px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.04);
}

.sidebar-jadwal .content .list-jadwal:last-of-type {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.sidebar-jadwal .content .list-jadwal .date {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #404756;
  opacity: 0.64;
  margin-bottom: 4px;
}

.sidebar-jadwal .content .list-jadwal a {
  text-decoration: none;
}

.sidebar-jadwal .content .list-jadwal a h3 {
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 0;
  color: #404756;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.sidebar-jadwal .content .list-jadwal a h3:hover {
  color: #1B64AD;
  -webkit-transition: 200ms;
  transition: 200ms;
}

.timeline-alur {
  margin-bottom: 40px;
}

.timeline-alur .title-cbt {
  margin-bottom: 56px;
}

.timeline-alur .title-cbt h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  text-transform: capitalize;
  color: #1B64AD;
  margin-bottom: 40px;
}

.info-terbaru {
  margin-bottom: 40px;
}

.info-terbaru .title-cbt {
  margin-bottom: 56px;
}

.info-terbaru .title-cbt h3 {
  font-weight: 600;
  font-size: 20px;
  line-height: 32px;
  text-transform: capitalize;
  color: #1B64AD;
  margin-bottom: 40px;
}

.info-terbaru [class*="col-"]:nth-child(3) .card-info-terbaru {
  border-bottom: 0;
}

@media (max-width: 768px) {
  .info-terbaru [class*="col-"]:nth-child(3) .card-info-terbaru {
    border-bottom: 1px solid rgba(33, 33, 33, 0.08);
  }
}

.info-terbaru [class*="col-"]:nth-child(4) .card-info-terbaru {
  border-bottom: 0;
}

.info-terbaru .card-info-terbaru {
  padding-bottom: 32px;
  margin-bottom: 32px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.08);
}

.info-terbaru .card-info-terbaru img {
  width: 112px;
  height: 124px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 16px;
  border-radius: 8px;
}

.info-terbaru .card-info-terbaru h2 {
  font-weight: 600;
  font-size: 16px;
  line-height: 28px;
  color: #404756;
  margin-bottom: 8px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.info-terbaru .card-info-terbaru p {
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  color: #404756;
  opacity: 0.5;
  margin-bottom: 16px;
}

.info-terbaru .card-info-terbaru a {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  text-transform: capitalize;
  color: #1B64AD;
  text-decoration: none;
}

.info-terbaru .card-info-terbaru a img {
  margin-left: 12px;
  width: 12px;
  height: 12px;
}

.stepper-cbt {
  margin-top: 12px;
}

.stepper-cbt .circle-steps {
  width: 40px;
  height: 40px;
  min-width: 40px;
  min-height: 40px;
  max-width: 40px;
  max-height: 40px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px dashed rgba(64, 71, 86, 0.4);
  text-align: center;
  line-height: 40px;
  font-weight: 600;
  font-size: 14px;
  color: #404756;
}

.stepper-cbt .line {
  border-right: 1px dashed rgba(64, 71, 86, 0.4);
}

.stepper-cbt .content-step {
  width: 100%;
  margin-bottom: 40px;
  margin-left: 32px;
}

.stepper-cbt .content-step .desc p {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #404756;
  margin-bottom: 0;
}

.stepper-cbt .content-step .desc a {
  font-weight: 600;
  color: #1B64AD;
  text-decoration: none;
}

.stepper-cbt .content-step.filled {
  width: 100%;
  margin-bottom: 12px;
  margin-left: 12px;
}

.stepper-cbt .content-step.filled .title {
  margin-bottom: 20px;
}

.stepper-cbt .content-step.filled .title p {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: rgba(64, 71, 86, 0.5);
  margin: 0;
}

.stepper-cbt .content-step.filled .title h4 {
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  letter-spacing: 0.02em;
  color: #1B64AD;
  margin-bottom: 4px;
}
/*# sourceMappingURL=main.css.map */