body{
    font-family: $font-default;
    background-color: #F9FAFC;
    scroll-behavior: smooth;
}
.dim-active{
    position: fixed;
    z-index: 98;
    background: rgba(33, 33, 33, 0.48);
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}
.sidebar-res{
    display: none;
    position: fixed;
    left: 0;
    top: 88px;
    z-index: 98;
    width: 14rem;
    background-color: #fff;
    padding: 16px;
    height: 100vh;
    margin-left: -14rem;
    &.open{
        margin-left: 0;
        transition: 200ms;
    }
    ul{
        padding-inline-start: 0;
        list-style: none;
        .nav-item{
            &.active{
                .nav-link {
                    color: $color-primary;
                    font-weight: 600;
                }
            }
        }
        .nav-link{
            text-decoration: none;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
            color: #747474;
            font-weight: normal;
            font-size: $font-size-sm;
            line-height: 24px;
            margin-bottom: 16px;
        }
        
    }
    @media (max-width: 767px) {
        display: block;
    }
}
#header-cbt{
    background: #F9FAFC;
    box-shadow: 0px 8px 16px rgba(8, 20, 87, 0.04);
    padding: 20px 0;
    position: relative;
    z-index: 99;
    .navbar{
        padding: 0;
    }
    .header-row{
        width: 100%;
        .burger-res{
            width: 48px;
            height: 48px;
            background-color: transparent;
            border-radius: 50%;
            border: 1px solid transparent;
            margin-right: 12px;
            display: none;
            @media (max-width: 767px) {
                display: block;
            }
            img{
                width: 24px;
                height: 24px;
            }
            &:hover{
                border: 1px solid #ECEFF1;
            }
            &:focus{
                border: 1px solid #ECEFF1; 
                box-shadow: 0px 0px 4px rgba(33, 33, 33, 0.16);
            }
        }
        .left{
            img{
                height: 32px;
            }
        }
        .right{
            .navbar-nav{
                display: flex;
                flex-direction: row;
                padding-left: 0;
                .dropdown-menu{
                    position: absolute;
                    right: 0;
                    top: 60px;
                    min-width: 260px;
                    padding: 20px 32px;
                    background: #FFFFFF;
                    border: 1px solid #ECEFF1;
                    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                    border-radius: 8px;
                    z-index: 100;
                    h4{
                        color: #001B36;
                        text-transform: capitalize;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 20px;
                        margin-bottom: 16px;
                    }
                    .select-language{
                        .list-language{
                            padding: 12px 0;
                            border-bottom: 1px solid #E0E0E0;
                            cursor: pointer;
                            &:last-of-type{
                                border-bottom: 0;
                            }
                            &.active{
                                .language{
                                    h3{
                                        color: $color-primary;
                                        font-weight: 500;
                                    }
                                    p{
                                        color: #747474;
                                    }
                                }
                            }
                            .flag{
                                img{
                                    width: 28px;
                                    height: 28px;
                                    margin-right: 24px;
                                    border-radius: 50%;
                                }
                            }
                            .language{
                                h3{
                                    font-weight: normal;
                                    font-size: 13px;
                                    line-height: 19px;
                                    text-transform: capitalize;
                                    color: #001B36;
                                    margin-bottom: 4px;
                                }
                                img{
                                    width: 8px;
                                    height: 8px;
                                    margin-left: 8px;
                                    margin-top: 5px;
                                }
                                p{
                                    font-weight: normal;
                                    font-size: 12px;
                                    line-height: 18px;
                                    text-transform: capitalize;
                                    color: #4D5F72;
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
                .nav-item{
                    .nav-language{
                        padding: 8px 16px !important;
                        border-radius: 50px;
                        align-items: center;
                        line-height: 13px;
                        img{
                            margin-left: 6px;
                        }
                        &:hover{
                            border: 1px solid #ECEFF1;
                        }
                        &:focus{
                            box-shadow: 0px 0px 4px rgba(33, 33, 33, 0.16);
                            border: 1px solid #ECEFF1;
                        }
                    }
                    .nav-link {
                        padding: 0;
                        margin-left: 30px;
                        text-decoration: none;
                        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
                        color: #747474;
                        font-weight: normal;
                        font-size: $font-size-sm;
                        line-height: 24px;
                        border: 1px solid transparent;
                        padding: 9px 12px;
                        &:hover{
                            color: $color-primary;
                            transition: 100ms;
                        }
                    }
                    &.active{
                        .nav-link {
                            color: $color-primary;
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}
#login-section{
    display: flex;
    .left{
        width: 50%;
        @media (max-width: 768px) {
            display: none;
        }
        .intro-cbt{
            margin-bottom: 20px;
            margin-top: 90px;
            h2{
                font-weight: 600;
                font-size: 20px;
                line-height: 32px;
                text-align: center;
                text-transform: capitalize;
                color: #1B64AD;
                margin-bottom: 20px;
            }
            p{
                font-weight: normal;
                font-size: 14px;
                line-height: 28px;
                text-align: center;
                color: #404756;
                margin: 0;
            }
        }
        .illustrasi-login{
            img{
                width: 100%;
                height: auto;
            }
        }
    }
    .right{
        width: 50%;
        position: relative;
        @media (max-width: 768px) {
            width: 100%;
            padding: 60px 16px;
        }
        // min-height: 100vh;
        height: auto;
        padding: 90px 0;
        background-color: rgba(236, 239, 241, 0.24);
        .card-login-cbt{
            position: relative;
            .titik-kotak{
                position: absolute;
                right: -25px;
                top: -20px;
                z-index: -1;
                img{
                    width: 80px;
                    height: auto;
                }
            }
            background: #FFFFFF;
            box-shadow: 0px 8px 16px rgba(67, 97, 154, 0.09);
            border-radius: 12px;
            padding: 32px;
            text-align: center;
            width: 360px;
            margin-left: auto;
            margin-right: auto;
            @media (max-width: 460px) {
                width: 100%;
            }
            .title{
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                text-transform: capitalize;
                color: #424242;
                margin-bottom: 60px;
            }
            .btn-login-with{
                width: 100%;
                font-weight: 500;
                font-size: 13px;
                line-height: 19px;
                color: #455A64;
                background: #FFFFFF;
                border: 0.5px solid #CCD6DC;
                height: 56px;
                box-shadow: 0px 8px 16px rgba(67, 97, 154, 0.08);
                border-radius: 8px;
                margin-bottom: 24px;
                &:hover{
                    background: #f5f5f5;
                    transition: 200ms;
                }
                img{
                    width: 26px;
                    height: 26px;
                    margin-right: 16px;
                }
            }
        }
    }
}
.warning-text{
    text-align: left;
    background: #FDF0E6;
    border: 1px solid #FAD3B3;
    padding: 20px 16px;
    border-radius: 8px;
    .title-warning{
        margin-bottom: 8px;
        img{
            width: 16px;
            height: 16px;
            margin-right: 16px;
        }
        h3{
            font-weight: 600;
            font-size: 13px;
            line-height: 24px;
            text-transform: capitalize;
            color: #D76100;
            margin-bottom: 0;
        }
    }
    p{
        font-weight: normal;
        font-size: 12px;
        line-height: 24px;
        color: #EF6C00;
        margin-bottom: 0;
    }
}
.copyright{
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    margin-top: 28px;
    letter-spacing: 0.5px;
    color: #747474;
    text-align: center;
}
#footer-login{
    padding: 22px;
    background-color: #C4E1FD;
    text-align: center;
    h3{
        font-weight: 500;
        font-size: 13px;
        line-height: 19px;
        letter-spacing: 0.5px;
        color: #3A4856;
        margin-bottom: 0;
    }
}

#beranda-cbt{
    margin: 48px 0;
    .banner-beranda{
        width: 100%;
        background: url("../img/bg-banner.jpg");
        background-repeat: no-repeat;
        border-radius: 8px;
        background-size: cover;
        margin-bottom: 40px;
        .banner-info{
            padding: 50px 32px;
            h3{
                font-weight: 600;
                font-size: 20px;
                line-height: 32px;
                text-transform: capitalize;
                color: #F9FAFC;
                margin-bottom: 16px;
            }
            p{
                font-weight: normal;
                font-size: 14px;
                line-height: 24px;
                color: #F9FAFC;
                opacity: 0.64;
                margin: 0;
            }
        }
        .illustration-banner{
            margin-top: -24px;
            height: auto;
            @media (max-width: 990px) {
                margin-top: 12px;
                padding: 32px;
            }
            img{
                width: 100%;
            }
        }
    }
}
// Sidebar 
.cta-uji-coba{
    width: 100%;
    margin-bottom: 24px;
}
.btn-secondary{
    width: 100%;
    height: 56px;
    border: none;
    padding: 12px;
    background: #FF6853;
    box-shadow: 0px 8px 16px rgba(67, 97, 154, 0.08);
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    text-transform: capitalize;
    color: #FFFFFF;
    &:hover{
        background: #f15c48;
        transition: 200ms;
    }
    img{
        width: 12px;
        height: 12px;
        margin-right: 16px;
    }
}
.sidebar-jadwal{
    background-color: rgba(236, 239, 241, 0.24);
    border-radius: 8px;
    .title{
        padding: 20px 32px;
        border-radius: 8px;
        background: #C4E1FD;
        h3{
            font-weight: 600;
            font-size: 18px;
            line-height: 20px;
            text-transform: capitalize;
            color: #1B64AD;
            margin-bottom: 0;
        }
        img{
            width: 22px;
            height: 22px;
        }
    }
    .content{
        padding: 32px;
        margin-bottom: 24px;
        .dots-purple{
            background-color: #fff;
            border: 3px solid #B275E2;
            border-radius: 50%;
            width: 14px;
            height: 14px;
            margin-top: 4px;
        }
        .dots-orange{
            background-color: #fff;
            border: 3px solid #FF8181;
            border-radius: 50%;
            width: 14px;
            height: 14px;
            margin-top: 4px;
        }
        .list-jadwal{
            padding-bottom: 16px;
            margin-bottom: 16px;
            border-bottom: 1px solid rgba(33, 33, 33, 0.04);
            &:last-of-type{
                border-bottom: 0;
                margin-bottom: 0;
                padding-bottom: 0;
            }
            .date{
                font-weight: normal;
                font-size: 14px;
                line-height: 20px;
                color: #404756;
                opacity: 0.64;
                margin-bottom: 4px;
            }
            a{
                text-decoration: none;
                h3{
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 28px;
                    margin-bottom: 0;
                    color: #404756;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    &:hover{
                        color: $color-primary;
                        transition: 200ms;
                    }
                }
            }
        }
    }
}

// Main Content 

.timeline-alur{
    margin-bottom: 40px;
    .title-cbt{
        margin-bottom: 56px;
        h3{
            font-weight: 600;
            font-size: 20px;
            line-height: 32px;
            text-transform: capitalize;
            color: #1B64AD;
            margin-bottom: 40px;
        }
    }
}
.info-terbaru{
    margin-bottom: 40px;
    .title-cbt{
        margin-bottom: 56px;
        h3{
            font-weight: 600;
            font-size: 20px;
            line-height: 32px;
            text-transform: capitalize;
            color: #1B64AD;
            margin-bottom: 40px;
        }
    }
    [class*="col-"]{
        &:nth-child(3){
            .card-info-terbaru{
                border-bottom: 0;
                @media (max-width: 768px) {
                    border-bottom: 1px solid rgba(33, 33, 33, 0.08);
                }
            }
        }
        &:nth-child(4){
            .card-info-terbaru{
                border-bottom: 0;
            }
        }
    }
    .card-info-terbaru{
        padding-bottom: 32px;
        margin-bottom: 32px;
        border-bottom: 1px solid rgba(33, 33, 33, 0.08);
        img{
            width: 112px;
            height: 124px;
            object-fit: cover;
            margin-right: 16px;
            border-radius: 8px;
        }
        h2{
            font-weight: 600;
            font-size: 16px;
            line-height: 28px;
            color: #404756;
            margin-bottom: 8px;
            text-overflow: ellipsis;
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        p{
            font-weight: normal;
            font-size: 14px;
            line-height: 20px;
            color: #404756;
            opacity: 0.5;
            margin-bottom: 16px;
        }
        a{
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            text-transform: capitalize;
            color: #1B64AD;
            text-decoration: none;
            img{
                margin-left: 12px;
                width: 12px;
                height: 12px;
            }
        }
    }
}
.stepper-cbt {
    margin-top: 12px;
    .circle-steps {
        width: 40px;
        height: 40px;
        min-width: 40px;
        min-height: 40px;
        max-width: 40px;
        max-height: 40px;
        border-radius: 50%;
        background-color: transparent;
        border: 1px dashed rgba(64, 71, 86, 0.4);
        text-align: center;
        line-height: 40px;
        font-weight: 600;
        font-size: 14px;
        color: #404756;
    }
    .line {
        border-right: 1px dashed rgba(64, 71, 86, 0.4);
    }
    .content-step {
      width: 100%;
      margin-bottom: 40px;
      margin-left: 32px;
      .desc {
        p {
            font-weight: normal;
            font-size: 14px;
            line-height: 24px;
            color: #404756;
            margin-bottom: 0;
        }
        a{
            font-weight: 600;
            color: $color-primary;
            text-decoration: none;
        }
      }
    }
    .content-step.filled {
      width: 100%;
      margin-bottom: 12px;
      margin-left: 12px;
      .title {
        margin-bottom: 20px;
        p {
          font-weight: 500;
          font-size: 14px;
          line-height: 18px;
          color: $color-black-alpha;
          margin: 0;
        }
        h4 {
          font-weight: normal;
          font-size: 15px;
          line-height: 20px;
          letter-spacing: 0.02em;
          color: $color-primary;
          margin-bottom: 4px;
        }
      }
    }
}