/**

	VARIABLE:
	- Color Palletes
	- Typography

 */
 /**
=========================
	- Color Palletes
=========================
*/
$color-primary:        #1B64AD;
$color-secondary:        #FF6853;
$color-border:         #CCD6DC;
$color-black:          #404756;
$color-black-alpha:    rgba(64, 71, 86, 0.5);

 /**
=========================
	- Typography
=========================
*/
$font-default: "Poppins", sans-serif;
 /**
=========================
	- Size
=========================
*/
$font-size-xs: 12px;
$font-size-sm: 14px;
$font-size-md: 16px;
$font-size-lg: 20px;